:root {
    --soft-blue: #B3D1D7;
    --normal-grey: #697577;
    --dark-grey: #495557;
    --darker-grey: #3c4142;
    --light-grey: #E7EEF0;
    --light-pink: #DF5589;
    --dark-pink: #DF5589;

    /* ux case study colors */
    --skyalert-orange: #EE532F;
    --indeed-blue: #095FF7;
    --socratic-blue: #235d91;
    --aether-blue: #175487;
    --smartcart-green: #9EC5AB;;
};

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 100px 0px 0px 0px;
    width: 100%;
    font-size: 16px;
    color: var(--dark-grey);
    background-color: #F9F9F9;
}

div {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;
    grid-template-areas:
    " headshot bio ";
}

.headshot, .headshot2 {
    grid-area: headshot;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.headshot2 {
    display: none;
}


.bio {
    grid-area: bio;
    width: 100%;
    height: 100%;
    /*background-color: blue;*/
    color: var(--dark-grey);
    font-size: 15pt;
    line-height: 1.5;
}

.topnav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000000;
    top: 0;
}

.topnav-buffer {
    height: 48px;
}

.logo {
    background-image: url("../images/logo.svg");
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
    margin: 5px 5px 5px 10px;
}

.testing {
    width: 100%;
    height: 100%;
}

.topnav a {
    float: right;
    display: block;
    color: var(--light-pink);
    text-align: center;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.topnav a:hover {
    color: var(--dark-grey);
    -webkit-transition: linear .3s; /* For Safari 3.1 to 6.0 */
}

.topnav a.active {
    color: var(--dark-grey);
    font-family: 'Roboto:700', sans-serif;
}



.topnav .icon {
    display: none;
}

.banner {
    padding-top: 54px;
    height: 600px;
    width: 100%;
    position: relative;
}

.blue-background {
    background-color: var(--soft-blue);
}

.chameleon {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/chameleon.png), url(../images/plants.png);
    background-repeat: no-repeat;
    background-size: contain, contain;
    background-position: left, right;
    /*padding-bottom: 20px;*/
}

.splash {
    position: absolute;
    top: calc(50% - 167.4765px);
    left: calc(50% - 154.4765px);
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
}

.name {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 50pt;
    padding: 3px 7px 3px 7px;
    margin-left: 5px;
    color: transparent;

    animation-name: name;
    animation-duration: .5s;
    animation-delay: .8s;
    animation-fill-mode: forwards;
}

@keyframes name {
    0% {color: transparent;}
    100% {color: var(--soft-blue);}
}


.namerectangle {
    height: 84px;
    background-color: white;
    position: absolute;
    float: left;
}

.rec1 {
    animation-name: rec1;
    top: -2px;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.rec2 {
    top: 90px;
    animation-name: rec2;
    animation-duration: .9s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    /*animation-delay: .1s;*/
}

.rec3 {
    top: 182px;
    animation-name: rec3;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    /*animation-delay: .2s;*/
}

@keyframes rec1 {
    0% {
        width: 0px;
    }

    100% {
        width: 307px;
    }
}

@keyframes rec2 {
    0% {
        width: 0px;
    }

    100% {
        width: 210px;
    }
}

@keyframes rec3 {
    0% {
        width: 0px;
    }

    100% {
        width: 260px;
    }
}

.boxtop {
    height: 5px;
    width: 330px;
    position: absolute;
    bottom: 10px;
    left: -10px;
    background-color: white;
    animation-name: boxtop;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.boxright {
    /*height: 295px;*/
    width: 5px;
    position: absolute;
    top:-15px;
    left: 315px;
    background-color: white;

    animation-name: boxright;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
    animation-timing-function: ease-out;
}

.boxbot {
    height: 5px;
    /*width: 330px;*/
    position: absolute;
    top: 275px;
    left: -10px;
    background-color: white;

    animation-name: boxbot;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    animation-timing-function: ease-out;
}

.boxleft {
    /*height: 295px;*/
    width: 5px;
    position: absolute;
    top:-15px;
    left: -10px;
    background-color: white;

    animation-name: boxleft;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    /*animation-delay: 0.6s;*/
    animation-timing-function: ease-out;
}

@keyframes boxtop {
    0% {
        width: 0px;
    }

    100% {
        width: 330px;
    }
}

@keyframes boxright {
    0% {
        height: 0px;
    }

    100% {
        height: 295px;
    }
}

@keyframes boxbot {
    0% {
        width: 0px;
    }

    100% {
        width: 330px;
    }
}

@keyframes boxleft {
    0% {
        height: 0px;
    }

    100% {
        height: 295px;
    }
}

.tagline {
    position: absolute;
    margin-top: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    color: white;
    opacity: 0;
    left: 45px;

    animation-name: tagline;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-timing-function: linear;
}

@keyframes tagline{
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.about {
    background-color: #F9F9F9;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

#about_link, #uiux_link {
    margin: 0px;
}

.section-heading{
    font-family: 'Roboto', sans-serif;
    color: var(--darker-grey);
    padding-top: 50px;
    font-size: 30pt;
}

.section-subheading {
    font-size: 11pt;
    color: grey;
    padding-left: 3px;
    padding-bottom: 40px;
}


a {
    text-decoration: none;
    color: var(--light-pink);
}

.about-text {
    line-height: 26pt;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: auto;
}

::selection {
  background: #C394A6;
}

.uiux {
    background-color: #E7EEF0;
    width: 100%;
    padding-bottom: 20px;

}

.uiux-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
    " indeed skyalert "
    " aether socratic "
    " smartcart " ;
    padding-left: 10px;
    padding-right: 10px;
}

.ux-card {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 400px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0);

    -webkit-transition: box-shadow .5s; /* For Safari 3.1 to 6.0 */
}

.hover-white {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    opacity: 0;

    -webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
}

.ux-title {
    color: transparent;

    -webkit-transition: color .5s; /* For Safari 3.1 to 6.0 */
}

.ux-card:hover .hover-white{
    color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    opacity: .5;
}

.ux-card:hover .ux-title {
    color: white;
}

.ux-title {
    font-size: 40px;
}

.indeed {
    grid-area: "indeed";
    background-color: var(--indeed-blue)
}

.skyalert {
    grid-area: "skyalert";
    background-color: var(--skyalert-orange)
}

.aether {
    grid-area: "aether";
    background-color: var(--aether-blue)
}

.socratic {
    grid-area: "socratic";
    background-color: var(--socratic-blue)
}

.smartcart {
    grid-area: "smartcart";
    background-color: var(--smartcart-green)
}

.buffer {
    height: 50px;
    width: 0px;
}

.graphic-design {
    background-color: #F9F9F9;
    width: 100%;
    padding-bottom: 20px;
}

.contact {
    background-color: #B4B4B4;
    width: 100%;
}

.white {
    color: white;
}

.footer {
    background-color: #E7EEF0;
    width: 100%;
    height: 80px;
}

.footer-links {
    font-size: 14pt;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

.link {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

/* BEGIN GRAPHIC DESIGN PORTFOLIO */

.graphic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 13px;
    grid-template-areas:
    "col1 col2";
}

.col {
    display: block;
    width: 100%;
    height: auto;
}

.col1 {
    grid-area: "col1";
}

.graphic-design-piece {
    width: 100%;
    margin-top: 10px;

    -webkit-transition: box-shadow .5s; /* For Safari 3.1 to 6.0 */
}

.graphic-design-piece:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

/* END GRAPHIC DESIGN PORTFOLIO */

input, textarea, button {
    /* remove default styles */
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    /* add own style*/
    font-size: 14pt;
    margin-bottom: 10px;
}

input {
    border-bottom:2px solid var(--light-pink);
    width: 400px;
}

textarea:focus, input:focus{
    outline: none;
}

textarea {
    /* remove default styles */
    background-color:white;
    border: none;
    border-radius: 5px;
    width: 800px;
    height: 300px;
    max-width: 100%;
    /* add own style */
    width:
}

button {
    display: block;
    background-color: var(--light-pink);
    color: white;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: var(--dark-pink);
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px 20px 20px 20px;
  cursor: pointer;
}

.circle-text {
    text-align: center;
    color: white;
    position: relative;
    top: 35%;
}

/* Scrolling in */

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}



@media (max-width: 1240px) {
    .chameleon {
        background-image: url(../images/chameleon.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .section-subheading {
        font-size: 11pt;
        color: grey;
    }

    .grid {
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-info {
        width: 100%;
    }

    .tagline {
        /*background-color: white;*/
        /*color: var(--soft-blue);*/
    }

    .section-contents {
        /*margin: auto;*/
        width: 100px;
        height: 500px;
        /*max-width: 700px;*/
    }

    .section-heading {
        padding-left: 10px;
    }

    .section-subheading {
        padding-left: 10px;
    }

    .thumbnails {
        text-align: center;
    }

}



@media (max-width: 600px) {

    .splash {
        border-style: none;
    }

    .tagline{
        /*display: none;*/
    }

    .chameleon {
        background-image: url(../images/plants.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
        bottom: 0;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        font-size: 25pt;
        padding: 0 10px;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        " headshot"
        " bio " ;
    }

    .headshot {
        display: none !important;

    }

    .headshot2 {
        display: block;
        margin-bottom: 20px;
    }

    .company {
        display: none;
    }

    .uiux-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "indeed"
        "skyalert"
        "aether"
        "socratic"
        "smartcart"
    }

    .ux-card {
        height: 150px;
    }

    .ux-title{
        color: white;
    }

    .graphic-card {
        width: 400px;
        height: 400px;
        /*background-color: black;*/
        display: inline-block;
        margin: 0;
        max-width: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}

@media (max-width: 800px) {
    .headshot {
        display: block;
        width: 100%;
    }
}